.container.main {
  background: rgb(255, 248, 169);
  padding: 1rem;
}

.header {
  margin-bottom: 10px;
  margin-top: 10px;
  height: fit-content;
}

.p1-custom {
  padding: 3px !important;
}

.footer {
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
  background: rgb(255, 248, 169);
  color: #333;
}
