<h2>
  Thư viện ảnh
</h2>

<div class="d-flex justify-content-center" *ngIf="images.length === 0">
  <img src="https://loading.io/spinners/harmony/lg.harmony-taiji-spinner.gif" alt="">
</div>

<div class="img-form">
  <div class="md-form md-form-custom">
    <input #src placeholder="Nhập link hình ảnh" type="text" name="imgUrl" class="form-control">
    <button class="btn btn-sm btn-primary indigo" mdbTooltip="Đăng hình" placement="bottom"
      (click)="uploadImg(src.value)">
      <i class="fa fa-upload"></i>
    </button>
  </div>
</div>

<div class="row popup">
  <div class="col-md-4" *ngFor="let img of images | paginate: { itemsPerPage: 9, currentPage: page }"
    style="margin-bottom: 15px;">

    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <mdb-card-img (click)="onSelectImg(img.src, img.id)" class="lib-item-image" src="{{img.src}}"
          alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <button class="btn btn-sm btn-primary indigo" (click)="onSelectImg(img.src, img.id)">
        <i class="fas fa-expand-arrows-alt"></i> Phóng to
      </button>
    </mdb-card>
  </div>


  <div class="pagination">
    <pagination-controls (pageChange)="p = $event" previousLabel="Trang trước" nextLabel="Trang sau">
    </pagination-controls>
  </div>

</div>

<div id="imagePreviewModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="imagePreview">
  <div id="caption"></div>
</div>
