#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

:host ::ng-deep .view img,
.view video {
  position: relative;
  display: block;
  height: 150px;
  width: 100%;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 40;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

:host ::ng-deep .ngx-pagination .current {
  background: #fc9823 !important
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.list-group-item-custom-head {
  background: rgba(252, 152, 35, 1) !important;
  border: none;
  padding: .75rem 1.25rem;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.img-form{
  display: flex;
  justify-content: flex-end;
}

.md-form.md-form-custom {
  display: flex;
  width: 50%;
}
