<h2>
  Thư viện ảnh
</h2>

<div class="d-flex justify-content-center" *ngIf="images.length === 0">
  <img src="https://loading.io/spinners/harmony/lg.harmony-taiji-spinner.gif" alt="">
</div>

<div class="upload-wrapper mt-3 mb-3">
  <input type="file" id="file" class="inputfile" (change)="onSelectImage($event)">
  <label for="file" class="btn indigo">Chọn hình đăng </label>

  <button class="btn indigo" (click)="uploadImageToFirebase()">
    <i class="fa fa-upload"></i>
  </button>
</div>

<div *ngIf="previewImage !== null" class="mt-3 mb-3">
  Hình đang được chọn:
  <img src="{{previewImage}}" style="width: 100px;" alt="wworking">
</div>

<div class="upload-process" *ngIf="uploadProcess > 0">

  <div class="alert alert-success" role="alert">
    Đăng hình thành công !
  </div>
  <br>

  <div class="progress">
    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': uploadProcess + '%'}"
      aria-valuenow="uploadProcess" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

</div>

<div class="row popup">
  <div class="col-md-4" *ngFor="let img of images | paginate: { itemsPerPage: 9, currentPage: p }"
    style="margin-bottom: 15px;">

    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <mdb-card-img (click)="onSelectImg(img.src, img.id)" class="lib-item-image" src="{{img.src}}"
          alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <button class="btn btn-sm indigo btn-zoom" (click)="onSelectImg(img.src, img.id)">
        <i class="fas fa-search"></i>
      </button>
    </mdb-card>
  </div>


  <div class="pagination">
    <pagination-controls (pageChange)="p = $event" previousLabel="Trang trước" nextLabel="Trang sau">
    </pagination-controls>
  </div>

</div>

<div id="imagePreviewModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="imagePreview">
  <div id="caption"></div>
</div>
