<div class="d-flex justify-content-between mb-2">
  <h3>Tin tức</h3>
  <a routerLink="/chinguyentai/them-tin-tuc" class="btn btn-sm btn-primary indigo pull-right">
    <i class="fas fa-plus text-white"></i> Thêm tin tức mới
  </a>
</div>

<p *ngIf="news.length === 0" style="text-align: center">
  <img src="https://loading.io/spinners/harmony/lg.harmony-taiji-spinner.gif" class="img-fluid" alt="">
</p>

<div *ngIf="news.length > 0">
  <div class="media pt-2 pb-3" *ngFor="let n of news | paginate: { itemsPerPage: 5, currentPage: p }">
    <img class="card-img-100 d-flex mr-3" src="{{n.image}}">
    <div class="media-body">
      <h6 class="font-weight-bold mt-0">
        <a routerLink="/chinguyentai/tin-tuc/{{n.id}}">{{n.title}}</a>
      </h6>

      <small>{{n.date | date:"short"}}</small>
    </div>
  </div>

  <div class="pagination">
    <pagination-controls (pageChange)="p = $event" previousLabel="Trang trước" nextLabel="Trang sau">
    </pagination-controls>
  </div>
</div>
