<div *ngIf="postStatus" class="alert alert-success" role="alert">
  Đã thêm thành công.
</div>

<h2>Thêm tin tức</h2>

<form #newsForm="ngForm">
  <div class="form-group">
    <input type="text" class="form-control" id="title" value="Tiêu đề 1" placeholder="Tiêu đề tin tức ..."
      [(ngModel)]="newsTitle" name="newsTitle" required>
  </div>

  <div class="upload-image">
    <label for="documentImage" mdbTooltip="Chọn hình" placement="bottom"
      class="btn btn-sm btn-primary indigo float-right">
      <i class="fa fa-upload"></i>
    </label>
    <input id="documentImage" type="file" (change)="onFileSelected($event)">

    <br>
    <img class="img-fluid" src="{{imagePreview}}" alt="">
    <br>
  </div>

  <ck-editor name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" language="en" [fullPage]="true"
    [config]="editorConfig" [readonly]="readonly">
  </ck-editor>

  <div class="mt-3 actions">
    <mat-form-field>
      <mat-label>Chọn tài liệu đăng</mat-label>
      <mat-select>
        <mat-option value="option1" (click)="postNews()">Tin tức</mat-option>
        <mat-option value="option2" (click)="postDocument()">Lịch sử dòng họ</mat-option>
        <mat-option value="option3" (click)="postEntrepreneurs()">Doanh nhân nổi tiếng</mat-option>
        <mat-option value="option4" (click)="postGenealogyHistory()">Phả ký</mat-option>
        <mat-optgroup [label]="'Tin chung'">
          Thông tin chung
          <mat-option (click)="postGeneralAnnounce('common')">Thông báo chung</mat-option>
          <mat-option (click)="postGeneralAnnounce('activities')">Hoạt động dòng họ</mat-option>
          <mat-option (click)="postGeneralAnnounce('lifestyle')">Văn hóa đời sống</mat-option>
          <mat-option (click)="postGeneralAnnounce('books')">Sách viết về dòng họ</mat-option>
          <mat-option (click)="postGeneralAnnounce('money')">Cúng tiến công đức</mat-option>
          <mat-option (click)="postGeneralAnnounce('connect')">Kết nối dòng họ</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>


</form>
