<div *ngIf="postStatus" class="alert alert-success" role="alert">
  Đã thêm thành công.
</div>

<h2>Thêm tin tức</h2>

<form #newsForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input type="text" class="form-control" id="title" value="Tiêu đề 1" placeholder="Tiêu đề tin tức ..."
      [(ngModel)]="newsTitle" name="newsTitle" required>
  </div>

  <div class="upload-image">
    <label for="documentImage" mdbTooltip="Chọn hình" placement="bottom"
      class="btn btn-sm btn-primary indigo float-right">
      <i class="fa fa-upload"></i>
    </label>
    <input id="documentImage" type="file" (change)="onFileSelected($event)">

    <br>
    <img class="img-fluid" src="{{imagePreview}}" alt="">
    <br>
  </div>

  <ck-editor name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" language="en" [fullPage]="true"
    [config]="editorConfig" [readonly]="readonly">
  </ck-editor>

  <div class="actions float-right">
    <button class="btn btn-sm btn-primary indigo" type="submit">
      Đăng tin mới <i class="far fa-newspaper"></i>
    </button>
    <button class="btn btn-sm btn-info" (click)="postDocument()">
      Đăng tài liệu chung <i class="fas fa-book-open"></i>
    </button>
  </div>

</form>
