<button class="btn indigo" (click)="update()">Lưu lại </button>

<div *ngIf="announce === null" class="alert alert-primary" role="alert">
  Hiện tại chưa có thành viên. Hãy thêm thành viên mới
</div>

<div id="familyTree"></div>

<!-- <div class="card-header text-center">
  <div class="card">
    Danh sách thành viên
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let item of data" attr.id="component_{{item.id}}">
      {{item.name}}
    </li>
  </ul>
</div> -->

<div *ngIf="arrayData && arrayData.length > 0" class="family-container w-100 mat-elevation-z8">
  <table mat-table [dataSource]="arrayData" class="w-100">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Tên </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="parent">
      <th mat-header-cell *matHeaderCellDef> Tên Cha Mẹ </th>
      <td mat-cell *matCellDef="let element"> {{element.parent}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
