<google-chart #familyOrgChart [data]="familyData" (chartSelect)="onSelect($event)"></google-chart>


<button type="button" mdbBtn color="indigo" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>
  Thêm thành viên
</button>


<div mdbModal #basicModal="mdbModal" [config]='{backdrop: false, ignoreBackdropClick: true}' class="modal fade top"
  tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-side modal-top-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Thêm thành viên mới</h4>
      </div>
      <div class="modal-body">
        <app-tree-form [parent]="name"></app-tree-form>
      </div>
    </div>
  </div>
</div>


Thêm <br>
<input type="text" [(ngModel)]="name">
<button (click)="myfunction()">them</button>
<br>
Sửa <br>
<input type="text" placeholder="..." value="{{name}}" #edit>
<button (click)="onEdit(name)">edit</button>
