<div class="list-group list-group-custom">
    <a href="#" class="list-group-item list-group-item-action active list-group-item-custom-head">
      Giải đáp thắc mắc
    </a>
    <div class="list-group-item list-group-item-action list-group-item-action-custom">
      <div class="news-list">
        <ul class="list-unstyled">
          <li class="media">
            <img class="mr-3 news-thumnail" src="assets/news/1.jpeg" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Tin tức 1</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
              odio,
              vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
              Donec
              lacinia congue felis in faucibus.
              <br>
              <a routerLink="" class="float-right">Xem thêm</a>
            </div>
          </li>
          <li class="media">
            <img class="mr-3 news-thumnail" src="assets/news/2.jpg" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Tin tức 2</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
              odio,
              vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
              Donec
              lacinia congue felis in faucibus.
              <br>
              <a routerLink="" class="float-right">Xem thêm</a>
            </div>
          </li>
          <li class="media">
            <img class="mr-3 news-thumnail" src="assets/news/3.jpg" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Tin tức 3</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
              odio,
              vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
              Donec
              lacinia congue felis in faucibus.
              <br>
              <a routerLink="" class="float-right">Xem thêm</a>
            </div>
          </li>
          <li class="media">
            <img class="mr-3 news-thumnail" src="assets/news/1.jpeg" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Tin tức 1</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
              odio,
              vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
              Donec
              lacinia congue felis in faucibus.
              <br>
              <a routerLink="" class="float-right">Xem thêm</a>
            </div>
          </li>
          <li class="media">
            <img class="mr-3 news-thumnail" src="assets/news/1.jpeg" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Tin tức 1</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
              odio,
              vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
              Donec
              lacinia congue felis in faucibus.
              <br>
              <a routerLink="" class="float-right">Xem thêm</a>
            </div>
          </li>
          <li class="media">
            <img class="mr-3 news-thumnail" src="assets/news/1.jpeg" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Tin tức 1</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
              odio,
              vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
              Donec
              lacinia congue felis in faucibus.
              <br>
              <a routerLink="" class="float-right">Xem thêm</a>
            </div>
          </li>
          <li class="media">
            <img class="mr-3 news-thumnail" src="assets/news/1.jpeg" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Tin tức 1</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
              odio,
              vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
              Donec
              lacinia congue felis in faucibus.
              <br>
              <a routerLink="" class="float-right">Xem thêm</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  