:host::ng-deep span {
  background: transparent !important;
}

#newsText {
  height: 850px;
  max-height: 850px;
  overflow: auto;
  padding: 0 1rem;
}


::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
