<section class="my-5 z-depth-1 ">

  <div class="card-header border-0 font-weight-bold d-flex justify-content-between">
    <p class="mr-4 mb-0">Cúng tiến - Công đức</p>
  </div>

  <div class="media mt-4 px-1">
    <img class="card-img-100 d-flex mr-3"
      src="{{money[0].image}}"
      alt="Generic placeholder image">
    <div class="media-body">
      <h6 class="font-weight-bold mt-0">
        <a href="">
          {{money[0].title}}
        </a>
      </h6>
      <div>
        <ul>
          <li *ngFor="let i of money">
            {{i.title}}
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>
