<div id="div1">
    <div>
        Dương A Nam Định
    </div>

    <svg id="svg-DA-DN" viewBox="0 0 1000 100" width="750px" height="50px">
        <defs>
            <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
                <polygon points="0 0, 10 3.5, 0 7" />
            </marker>
        </defs>
        <line x1="0" y1="50" x2="925" y2="50" stroke="#000" stroke-width="3" marker-end="url(#arrowhead)" />
    </svg>

    <div id="dongNganBacNinh">
        Đông Ngàn, <br> Bắc Ninh
    </div>

    <svg id="svg-DA-TH" viewBox="0 0 1000 100" width="750px" height="120px">
        <defs>
            <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
                <polygon points="0 0, 10 3.5, 0 7" />
            </marker>
        </defs>
        <line x1="0" y1="-60" x2="780" y2="75" stroke="#000" stroke-width="2" marker-end="url(#arrowhead)"></line>
    </svg>

    <div id="anThiHungYen">
        Thổ Hoàng Ân Thi, <br> Hưng Yên
    </div>

    <svg id="svg-TH-NC" viewBox="0 0 100 100" width="750px" height="100px">
        <defs>
            <marker id="arrowdown" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
                <polygon points="0 0, 10 3.5, 0 7" />
            </marker>
        </defs>
        <line x1="0" y1="0" x2="-220" y2="80" stroke="#000" stroke-width="2" marker-end="url(#arrowdown)"></line>
    </svg>


    <div id="nguyenCongDoLuong">
        Nguyễn Công, <br> Đô Lương
    </div>

    <svg id="svg-NC-NT" viewBox="0 0 100 100" width="750px" height="50px">
        <defs>
            <marker id="arrowdown" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
                <polygon points="0 0, 10 3.5, 0 7" />
            </marker>
        </defs>
        <line x1="0" y1="0" x2="0" y2="60" stroke="#000" stroke-width="3" marker-end="url(#arrowdown)"></line>
    </svg>


    <div id="nguuTuThanhDong">
        Ngưu Tử, <br>Thanh Đồng, <br>Thanh Chương
    </div>

    <svg id="svg-NT-ND" viewBox="0 0 100 100" width="750px" height="80px">
        <defs>
            <marker id="arrowdown" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
                <polygon points="0 0, 10 3.5, 0 7" />
            </marker>
        </defs>
        <line x1="0" y1="0" x2="-275" y2="80" stroke="#000" stroke-width="2" marker-end="url(#arrowdown)"></line>
    </svg>

    <div id="nguyenDacNguyenDinh">
        Nguyễn Đắc, <br> Nguyễn Đình
    </div>

    <svg id="svg-ND-QS" viewBox="0 0 100 100" width="750px" height="130px">
        <defs>
            <marker id="arrowdown" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
                <polygon points="0 0, 10 3.5, 0 7" />
            </marker>
        </defs>
        <line x1="0" y1="0" x2="-70" y2="85" stroke="#000" stroke-width="1.3" marker-end="url(#arrowdown)"></line>
    </svg>

    <div id="queSonQuangNam">
        Quế Sơn, <br> Quảng Nam
    </div>


    <svg id="svg-ND-TB" viewBox="0 0 100 100" width="750px" height="130px">
        <defs>
            <marker id="arrowdown" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
                <polygon points="0 0, 10 3.5, 0 7" />
            </marker>
        </defs>
        <line x1="0" y1="0" x2="70" y2="85" stroke="#000" stroke-width="1.3" marker-end="url(#arrowdown)"></line>
    </svg>

    <div id="thangBinhQuangNam">
        Thăng Bình, <br> Quảng Nam
    </div>

    <svg id="svg-NT-NT" viewBox="0 0 100 100" width="750px" height="80px">
        <defs>
            <marker id="arrowdown" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
                <polygon points="0 0, 10 3.5, 0 7" />
            </marker>
        </defs>
        <line x1="0" y1="0" x2="260" y2="80" stroke="#000" stroke-width="2" marker-end="url(#arrowdown)"></line>
    </svg>

    <div id="nguyenTaiThuongTho">
        Nguyễn Tài, <br> Thượng Thọ
    </div>

    <svg id="svg-NT-CL" viewBox="0 0 100 100" width="750px" height="50px">
        <defs>
            <marker id="arrowdown" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
                <polygon points="0 0, 10 3.5, 0 7" />
            </marker>
        </defs>
        <line x1="0" y1="0" x2="-80" y2="80" stroke="#000" stroke-width="3" marker-end="url(#arrowdown)"></line>
    </svg>

    <div id="thiXaCuuLo">
        Thị xã Cửa Lò
    </div>

    <svg id="svg-NT-TTH" viewBox="0 0 100 100" width="750px" height="50px">
        <defs>
            <marker id="arrowdown" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
                <polygon points="0 0, 10 3.5, 0 7" />
            </marker>
        </defs>
        <line x1="0" y1="5" x2="205" y2="50" stroke="#000" stroke-width="3" marker-end="url(#arrowdown)"></line>
    </svg>

    <div id="quangDienThuaThienHue">
        Quảng Điền, <br> Thừa Thiên Huế
    </div>

    <svg id="svg-NT-NS" viewBox="0 0 100 100" width="750px" height="120">
        <defs>
            <marker id="arrowdown" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
                <polygon points="0 0, 10 3.5, 0 7" />
            </marker>
        </defs>
        <line x1="30" y1="3" x2="115" y2="90" stroke="#000" stroke-width="1.5" marker-end="url(#arrowdown)"></line>
    </svg>

    <div id="ngaSonThanhHoa">
        Nga Sơn, <br> Thanh Hóa
    </div>

    <svg id="svg-NT-DP" viewBox="0 0 100 100" width="750px" height="250">
        <defs>
            <marker id="arrowdown" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
                <polygon points="0 0, 10 3.5, 0 7" />
            </marker>
        </defs>
        <line x1="40" y1="2" x2="83" y2="80" stroke="#000" stroke-width="0.6" marker-end="url(#arrowdown)"></line>
    </svg>

    <div id="dongPhoDongHoaThanhHoa">
        Đông Pho,<br> Đông Hòa,<br> Thanh Hóa
    </div>

</div>
