div {
    border: 1px solid black;
    width: 140px;
    text-align: center;
    margin: 0;
    padding: 15px;
}

#div1 {
    position: relative;
    border: none;
}

#dongNganBacNinh {
    position: absolute;
    left: 665px;
    top: 12px;
}

#anThiHungYen {
    position: absolute;
    left: 665px;
    top: 100px;
}

#nguyenCongDoLuong {
    position: absolute;
    left: 332px;
    top: 220px;
}

#nguuTuThanhDong {
    position: absolute;
    left: 332px;
    top: 333px;
}

#nguyenDacNguyenDinh {
    position: absolute;
    left: 100px;
    top: 490px;
}

#queSonQuangNam {
    position: absolute;
    left: 0;
    top: 680px;
}

#thangBinhQuangNam {
    position: absolute;
    left: 215px;
    top: 680px;
}

#nguyenTaiThuongTho {
    position: absolute;
    left: 550px;
    top: 490px;
}

#thiXaCuuLo {
    position: absolute;
    left: 500px;
    top: 610px;
}

#quangDienThuaThienHue {
    position: absolute;
    left: 840px;
    top: 520px;
}

#ngaSonThanhHoa {
    position: absolute;
    left: 840px;
    top: 610px;
}

#dongPhoDongHoaThanhHoa {
    position: absolute;
    left: 840px;
    top: 700px;
}



#svg-DA-DN {
    position: absolute;
    top: 25px;
    left: 62px;
}

#svg-DA-TH {
    position: absolute;
    top: 50px;
    left: 65px;
}

#svg-TH-NC {
    position: absolute;
    top: 132px;
    left: 340px;
}

#svg-NC-NT {
    position: absolute;
    top: 288px;
    left: 70px;
}

#svg-NT-ND {
    position: absolute;
    top: 418px;
    left: 85px;
}

#svg-ND-QS {
    position: absolute;
    top: 557px;
    left: -130px;
}

#svg-ND-TB {
    position: absolute;
    top: 557px;
    left: -130px;
}

#svg-NT-NT {
    position: absolute;
    top: 418px;
    left: 85px;
}

#svg-NT-CL {
    position: absolute;
    top: 558px;
    left: 285px;
}

#svg-NT-TTH {
    position: absolute;
    top: 525px;
    left: 372px;
}

#svg-NT-NS {
    position: absolute;
    top: 525px;
    left: 372px;
}

#svg-NT-DP {
    position: absolute;
    top: 525px;
    left: 372px;
}