<section class="my-5 z-depth-1 ">

  <div class="card-header border-0 font-weight-bold d-flex justify-content-between">
    <p class="mr-4 mb-0">Sách viết về dòng họ</p>
  </div>

  <div class="media mt-4 px-1">
    <img class="card-img-100 d-flex mr-3"
      src="https://www.shareicon.net/download/2016/10/07/840293_announcement_512x512.png"
      alt="Generic placeholder image">
    <div class="media-body">
      <h6 class="font-weight-bold mt-0">
        <a href="">Đại Nam Liệt Truyện (Tập 01)</a>
      </h6>
      <div>
        <ul>
          <li>Đại Nam Liệt Truyện (Tập 02)
          </li>
          <li>Đại Nam Liệt Truyện (Tập 03)
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>
