<h4>Phả đồ</h4>
<!-- 
<div >
  <input type="text" placeholder="Tên phả đồ ..." #name [(ngModel)]="selectedName">
  <input type="text" placeholder="Thông tin cơ bản ..." #basicInformation [(ngModel)]="selectedBasicInformation">

  <button (click)="addData(name.value, basicInformation.value)">Thêm phả</button>
  <button (click)="updateNewData(name.value, basicInformation.value)">Thay đổi</button>

  <div *ngIf="annouce" class="alert alert-success" role="alert">
    Đã thêm thành công.
  </div>
</div> -->

<button mdbBtn class="btn-sm indigo waves-light" (click)="test.toggle()" type="button" mdbWavesEffect>
  <i class="fa fa-pencil"></i>
</button>

<div class="" mdbCollapse #test="bs-collapse">
  <div class="md-form">
    <input mdbInput type="text" id="name" #name [(ngModel)]="selectedName" class="form-control">
    <label for="name" class="">Tên phả đồ</label>
  </div>

  <div class="md-form">
    <input mdbInput type="text" id="basicInformation" #basicInformation [(ngModel)]="selectedBasicInformation"
      class="form-control">
    <label for="basicInformation" class="">Thông tin cơ bản</label>
  </div>

  <button class="btn indigo" (click)="addData(name.value, basicInformation.value)">Thêm phả</button>
  <button class="btn indigo" (click)="updateNewData(name.value, basicInformation.value)">Thay đổi</button>

  <div *ngIf="annouce" class="alert alert-success" role="alert">
    Đã thêm thành công.
  </div>
</div>

<div class="social-btns">
  <div *ngFor="let item of familyListData" class="btn google z-depth-1">
    <a routerLink="{{item.link}}"> <i class="fa google">{{item.name}}</i></a>
    <i class="fa fa-pencil edit-btn" (click)="editData(item.name, item.basicInformation, item.id)"></i>
  </div>
</div>
