.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
  top: 90%;
  left: -110%;
}

.social-btns .btn .fa {
  transform: scale(0.8);
}

.social-btns .btn.google:before {
  background: url("https://ngotoc.vn/themes/ngotoc/images/partern-danhmuc.jpg");
}

.social-btns .btn.google .fa {
  color: #fff;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}

.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #DF3409;
  transform: scale(1);
}

.social-btns {
  display: flex;
  flex-wrap: wrap;
}

.social-btns .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-image: url("https://ngotoc.vn/themes/ngotoc/images/partern-danhmuc.jpg");
  width: 250px;
  height: 100px;
  line-height: 90px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
  background-image: url("https://previews.123rf.com/images/irbisnariel/irbisnariel1702/irbisnariel170200002/75888407-playful-asian-dragon-and-fire-pattern.jpg");
  background-size: cover;
}

.social-btns .btn:before {
  content: '';
  width: 145%;
  height: 180%;
  position: absolute;
  transform: rotate(45deg);
}

.social-btns .btn .fa {
  font-size: 1.25rem;
  vertical-align: middle;
}
