<h4>Phả đồ</h4>

<div class="mb-3">
  <input type="text" placeholder="Tên phả đồ ..." #name [(ngModel)]="selectedName">
  <input type="text" placeholder="Thông tin cơ bản ..." #basicInformation [(ngModel)]="selectedBasicInformation">

  <button (click)="addData(name.value, basicInformation.value)">Thêm phả</button>
  <button (click)="updateNewData(name.value, basicInformation.value)">Thay đổi</button>

  <div *ngIf="annouce" class="alert alert-success" role="alert">
    Đã thêm thành công.
  </div>
</div>


<div class="social-btns">
  <a *ngFor="let item of familyListData" class="btn google z-depth-1" routerLink="{{item.link}}">
    <i class="fa google">{{item.name}}</i>
  </a>
  <button *ngFor="let item of familyListData" (click)="editData(item.name, item.basicInformation, item.id)">
    <i class="fa google">{{item.name}}</i>
  </button>
</div>

<!-- {{item.basicInformation}} -->
