<section class="my-5 z-depth-1 ">

  <div class="card-header border-0 font-weight-bold d-flex justify-content-between">
    <p class="mr-4 mb-0">Lịch sử dòng họ </p>
  </div>

  <div class="media mt-4 px-1">
    <img class="card-img-100 d-flex mr-3" src="https://www.freeiconspng.com/uploads/history-png-30.png"
      alt="Generic placeholder image">
    <div class="media-body">
      <h6 class="font-weight-bold mt-0">
        <a href="">Tổ quán của dòng họ </a>
      </h6>
      <div>
        <ul>
          <li>
            Chúc mừng Xuân Kỷ Hợi 2019
          </li>
          <li>
            Thư mời dự Lễ Dâng hương Xuân Kỷ Hợi 2019
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>
