<div *ngIf="(doc$ | async) as doc">

  <h3 class="text-center"> {{doc.title}} </h3>

  <div class="news-infomation">
    <small>Cập nhật lúc: {{doc.update | date:"short"}}</small>
    <button class="btn btn-sm indigo" mdbTooltip="Chỉnh sửa" placement="bottom" (click)="toogleEditMode()">
      <i class="fa fa-pencil"></i>
    </button>
  </div>

  <div id="newsImage">
    <img src="{{doc.image}}" class="img-fluid" alt="">
  </div>

</div>


<perfect-scrollbar id="perfectScrollBar" style="max-height: 850px;">
  <p class="m-3" id="newsText">

  </p>
</perfect-scrollbar>

<div *ngIf="readMode === false">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Tiêu đề</label>
      <input type="text" class="form-control" id="title" value="Tiêu đề 1" placeholder="Tiêu đề tin tức ..."
        [(ngModel)]="newsTitle" name="newsTitle" required>
    </div>

    <div>
      <label for="">Upload Hình ảnh</label>
      <input type="file" (change)="onFileSelected($event)">
      <br>
      <img class="img-fluid" src="{{imagePreview}}" alt="">
      <br>
    </div>

    <ck-editor name="editor2" [(ngModel)]="editorValue" skin="moono-lisa" language="en" [fullPage]="true"
      [config]="editorConfig" [readonly]="readonly">
    </ck-editor>

    <button class="btn btn-primary" type="submit">Lưu</button>

  </form>
</div>
