<h2 class="h1-responsive font-weight-bold text-center my-4">Liên hệ</h2>

<div class="alert alert-success" role="alert" *ngIf="annouce">
    Phản hồi của bạn đã được gửi. Chúng tôi sẽ trả lời sớm nhất. Xin cảm ơn.
</div>

<p>
  Để không ngừng nâng cao chất lượng dịch vụ và đáp ứng tốt hơn nữa các yêu cầu của mọi người, chúng tôi mong muốn
  nhận được các thông tin phản hồi. Nếu Quý khách có bất kỳ thắc mắc hoặc đóng góp nào, xin vui lòng liên hệ với chúng
  tôi theo thông tin dưới đây. Chúng tôi sẽ phản hồi lại Quý khách trong thời gian sớm nhất.
</p>

<div class="row">
  <div class="col-md-12">
    <form id="contact-form" name="contact-form" method="POST" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <div class="md-form mb-0">
            <input type="text" id="name" name="from_name" class="form-control" placeholder="Họ và tên ..">
          </div>
        </div>

        <div class="col-md-4">
          <div class="md-form mb-0">
            <input type="text" id="email" name="from_email" class="form-control" placeholder="Email ...">
          </div>
        </div>

        <div class="col-md-4">
          <div class="md-form mb-0">
            <input type="text" id="phone" name="from_phone" class="form-control" placeholder="Số điện thoại ...">
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-12">
          <div class="md-form">
            <input type="text" id="title" name="from_title" class="form-control" placeholder="Tiêu đề ...">
          </div>
        </div>

        <div class="col-md-12">
          <div class="md-form">
            <textarea type="text" id="message" name="message_html" rows="2" placeholder="Nội dung ..."
              class="form-control md-textarea"></textarea>
          </div>
        </div>
      </div>

      <div class="text-center text-md-left pull-right">
        <button class="btn indigo" type="submit">
          <i class="fas fa-paper-plane"></i> Gửi phản hồi
        </button>
      </div>
    </form>
  </div>
</div>
