<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" class="navbar-custom">
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/" routerLinkActive="active">
          Trang chủ
        </a>
      </li>

      <li class="nav-item dropdown">
        <a routerLink="/chinguyentai/lich-su" routerLinkActive="active" mdbWavesEffect
          class="nav-link waves-light item">
          Lịch sử dòng họ<span class="caret"></span>
        </a>
      </li>

      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light item" mdbWavesEffect
          routerLinkActive="active"
          routerLink="/chinguyentai/pha-ky">
          Phả ký
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/chinguyentai/pha-do" routerLinkActive="active">
          Phả đồ
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/chinguyentai/dia-do" routerLinkActive="active">
          Địa đồ
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/chinguyentai/doanh-nhan"
          routerLinkActive="active">
          Doanh nhân nổi tiếng
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/chinguyentai/thu-vien-anh"
          routerLinkActive="active">
          Thư viện ảnh
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/chinguyentai/thu-vien-video"
          routerLinkActive="active">
          Thư viện video
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/chinguyentai/tin-tuc"
          routerLinkActive="active">
          Tin tức
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/chinguyentai/thong-tin-chung"
          routerLinkActive="active">
          Thông tin chung
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/chinguyentai/thac-mac"
          routerLinkActive="active">
          Giải đáp thắc mắc
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/chinguyentai/lien-he"
          routerLinkActive="active">
          Liên hệ
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
