<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" class="navbar-custom">
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/" routerLinkActive="active">
          Trang chủ
        </a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light item" mdbWavesEffect>
          Lịch sử dòng họ<span class="caret"></span></a>
      </li>

      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light item" mdbWavesEffect>
          Phả ký <span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/chinguyentai/pha-ky">Chi 1</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/chinguyentai/pha-ky">Chi 2</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/chinguyentai/pha-ky">Chi 3</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/chinguyentai/pha-ky">Chi 4</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/chinguyentai/pha-ky">Chi 5</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/chinguyentai/pha-ky">Chi 6</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/chinguyentai/pha-ky">Chi 7</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/chinguyentai/pha-ky">Chi 8</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/chinguyentai/pha-ky">Chi 9</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/chinguyentai/pha-ky">Chi 10</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/chinguyentai/pha-ky">Chi 11</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/chinguyentai/pha-ky">Chi 12</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/chinguyentai/pha-do" routerLinkActive="active">
          Phả đồ
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/chinguyentai/dia-do" routerLinkActive="active">
          Địa đồ
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/chinguyentai/doanh-nhan" routerLinkActive="active">
          Doanh nhân nổi tiếng
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/chinguyentai/thu-vien-anh" routerLinkActive="active">
          Thư viện ảnh
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/chinguyentai/thu-vien-video" routerLinkActive="active">
          Thư viện video
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/chinguyentai/tin-tuc" routerLinkActive="active">
          Tin tức
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/chinguyentai/thac-mac" routerLinkActive="active">
          Giải đáp thắc mắc
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light item" mdbWavesEffect routerLink="/chinguyentai/lien-he" routerLinkActive="active">
          Liên hệ
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
