<footer class="border-top">
  <div class="row footer-sologan">
    <div class="col-12 col-md footer-intro">
      <p class="text-center text-uppercase">
        trang thông tin điện tử của họ Nguyễn Tài
        <br>
        Làng Thượng Thọ, Xã Thanh Văn, Huyện Thanh Chương, Tỉnh Nghệ An
      </p>
      <hr>
    </div>
  </div>

  <div class="contac-infomation">
    <h4>Thông tin liên lạc</h4>
    <div class="row">
      <div class="col-6 col-md">
        <ul>
          <li>
            <i class="fas fa-home"></i> Văn phòng: 37 Thống Nhất, Phường Tân Phú, Quận Tân Phú, TP.HCM
          </li>
          <li>
            <i class="fas fa-home"></i> Website:
          </li>
          <li>
            <i class="fas fa-envelope-open"></i> Email: chinguyentai@gmail.com
          </li>
          <li>
            <i class="fas fa-phone-square"></i> Điện thoại: 0919.053.369
          </li>
          <li>
            <i class="fas fa-phone-square"></i> Tài khoản:
          </li>
        </ul>
      </div>
    </div>

  </div>
</footer>
