<form #nodeForm (ngSubmit)="onAddNode(nodeStructure)" class="form" autocomplete="off">

  <div class="md-form">
    <input type="text" placeholder="Họ và tên -testing" [(ngModel)]="nodeStructure.text.name" name="name" class="form-control"
      required>
  </div>

  <div class="md-form">
    <select id="select-parent-node" class="form-control" [(ngModel)]="nodeStructure.parent" name="parent">
      <option disabled [ngValue]="undefined"> - Hãy chọn người thân - </option>
      <option [ngValue]="node" *ngFor="let node of treeService.nodes">{{node.text.name}}</option>
    </select>
  </div>

  <div class="md-form">
    <select id="select-gender" class="form-control" [(ngModel)]="gender" name="gender">
      <option disabled selected value> - Hãy chọn giới tính testing - </option>
      <option value="{{g.value}}" *ngFor="let g of genders"> {{g.name}} </option>
    </select>
  </div>

  <div class="md-form">
    <input placeholder="Năm sinh" type="text" [(ngModel)]="birthDay" name="birthDay" class="form-control">
  </div>

  <div class="md-form">
    <input placeholder="Năm mất" type="text" [(ngModel)]="deadDay" name="deadDay" class="form-control">
  </div>

  <div class="md-form">
    <label class="form-control-label">Thông tin</label>
    <textarea style="padding: 2.5rem 0;" class="md-textarea form-control" name="infomation" [(ngModel)]="infomation"
      aria-label="With textarea"></textarea>
  </div>

  <div class="md-form">
    <button type="submit" class="btn btn-primary indigo">
      <i class="fas fa-plus"></i> Thêm
    </button>

    <a class="btn btn-primary indigo" href="/chinguyentai/pha-do">
     <i class="fa fa-save"></i> Lưu dữ liệu
    </a>

  </div>

</form>


