<input type="text" #search>
<button (click)="onSearch(search.value)">Tim</button>

<ng-container *ngIf="searchArray !== null">
  <ul>
    <li *ngFor="let item of searchArray">
      {{item}}
    </li>
  </ul>

  <ng-container *ngIf="searchArray.length === 0 && searchKey !== ''">
    Không có nội dung cần tìm
  </ng-container>

  <ng-container *ngIf="searchKey === ''">
    Chưa nhập nội dung tìm
  </ng-container>

</ng-container>


<div class="right-side-nav">
  <ul>
    <hr class="hr-text" data-content="Tin gần đây">
    <li *ngFor="let i of news" class="text-center">
      <a routerLink="/chinguyentai/tin-tuc/{{i.id}}">
        {{(i.title.length > 20) ? (i.title |  slice:0:15) + '...' : i.title}}
      </a>
    </li>

    <hr class="hr-text" data-content="Hình ảnh">
    <li>
      <mdb-carousel [animation]="'slide'">
        <ng-container *ngFor="let img of slideImages">
          <mdb-carousel-item>
            <img class="w-100" src="{{img.src}}" alt="First slide">
          </mdb-carousel-item>
        </ng-container>
      </mdb-carousel>
    </li>

    <hr class="hr-text" data-content="Video">
    <li>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item w-100" src="https://player.vimeo.com/video/137857207"
          allowfullscreen></iframe>
      </div>
    </li>
  </ul>
</div>
