.list-group {
  margin-bottom: 10px;

  .media {
    align-items: center;
  }

  .list-group-item-custom-head {
    background: #DF3409 !important;
    border: none;
    color: #ffffff !important;
  }

}

.list-group-item-action-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.thumnail-custom {
  width: 64px;
}

ul li {
  border-bottom: 1px solid #910000;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

ul li:hover {
  cursor: pointer;
  color: #910000;
}
