/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  background: #963821;
}

.indigo {
  background-color: #DF3409 !important;
}

.btn-indigo {
  background-color: #fc9823 !important;
}

.loading {
  display: flex;
  justify-content: center;
  align-content: center;
}
